@import "../../../../utils/constants";
@import "../../../../utils/mixins";

.form {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  background: $main-white-color;
  border-radius: 12px;
  box-shadow: $main-box-shadow;

  input {

    @include input-preset
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 8px;
  gap: 8px;

  button {
    width: fit-content;
    color: $main-white-color;
    border-radius: 3px;
    align-items: center;
    cursor: pointer;
    @include hover
  }

  .submitButton {
    background: $blue-color;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px 12px;
  }

  .closeButton {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

    svg{
      width: 20px;
      height: 20px;
    }
  }
}

