@import "./../../utils/constants";
@import "./../../utils/mixins";


.colorPikerElement {
  width: 40px;
  height: 32px;
  position: relative;
  @include hover;
  .moreEffectContainer{
    display: flex;
  }
  &.moreEffect:after {
    content: '• • •';
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 11px;
    transform: translate(-50%, -50%);
    color: #1c0f0f;
    cursor: pointer;
  }

  button {
    @include main-button;
    width: 100%;
    height: 100%;
    background: #B6C2CF;
    @include hover
  }

  &.acceptEffect:after {
    content: url('/assets/check_accept_icon.svg');
    transform: scale(0.33) translate(-50%, -50%);
    position: absolute;
    top: -2px;
    left: 5px;
  }

  .lightBlueGradient {
    background: linear-gradient(151deg, rgb(160, 222, 219), rgb(3, 165, 209))
  }

  .purpleGradient {
    background: linear-gradient(450deg, rgb(62, 25, 113), rgb(72, 105, 206))
  }

  .pinkGradient {
    background: linear-gradient(349deg, rgb(223, 90, 189), rgb(140, 2, 153))
  }

  .yellowGradient {
    background: linear-gradient(205deg, rgb(237, 228, 100), rgb(252, 152, 51))
  }

  .greenGradient {
    background: linear-gradient(353deg, rgb(182, 244, 85), rgb(63, 128, 87))
  }

  .blue {
    background: #0079bf;
  }

  .orange {
    background: #d29034;
  }

  .green {
    background: #519839;
  }

  .red {
    background: #b04632;
  }

  .purple {
    background: #89609e;
  }

  .pink {
    background: #cd5a91;
  }

  .salad {
    background: #4bbf6b;
  }

  .lightBlue {
    background: #00aecc;
  }

  .gray {
    background: #838c91;
  }
}

.allColorsDropMenuContainer {
  position: absolute;
  right: 60px;
  //top: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: $main-box-shadow;
  color: var(--text-color);
  background: var(--card-bg);
  align-items: center;
  padding-top: 8px;
  z-index: 4;

  .allColorsList {
    width: calc((3 * 40px) + 16px);
    display: flex;
    justify-content: flex-start;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 8px;

    li {
      width: 40px;
      height: 32px;
      position: relative;
    }


  }
}