@import './../../utils/constants';

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  padding: 20px;
}

.title {
  margin-bottom: 20px;

  font-size: 32px;
  color: var(--text-color);
  text-align: left;
}
