@import './../../utils/mixins';
@import './../../utils/constants';

.homePageContainer {
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5rem;
  text-decoration: none;

  h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
}

.boardIconsContainer {
  display: block;
}

.ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  gap: 2rem 1rem;
  width: fit-content;
  max-width: calc(100% - 440px);
  li {
    width: 150px;
  }
}

.addNewBoardButton {
  @include main-button;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  @include hover

}
.loading{
  padding: 1rem;
  width: 40px;
}