@import './../../utils/mixins';
@import './../../utils/constants';

.homePageContainer {
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
  text-decoration: none;

  h3 {
    text-transform: uppercase;
  }
}

.iconsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  gap: 2rem 1rem;
  width: fit-content;
  max-width: calc(100% - 440px);
}

.addNewBoardButton {
  width: 150px;
  @include main-button;
  display: flex;
  justify-content: center;
  align-items: center;
  @include hover

}
.loading{
  padding: 1rem;
  width: 40px;
}