@import '../../common/styles/constants';

.appContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  background: var(--main-bg-color);
}

.content {
  flex-grow: 1;
  align-self: flex-start;
  width: 100%;
}
