.appContainer{
  position: relative; /* Использовать флексбокс для контейнера */
  flex-direction: column; /* Основной контейнер будет расположен в виде столбца */
  min-height: 100vh;
  background: var(--main-bg-color);
}
.content{
  padding-bottom: 5rem;
}
