@import 'src/common/styles/mixins';

.addNewBoardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 84px;
  padding: 10px;

  @include main-button;
  @include hover;
}
