@import './../../../../utils/constants';

.cardContainer {
  font-size: 18px;
  margin: 5px;
  border: 1px solid var(--card-border);
  border-radius: $main-border-radius;
  background: $main-white-color;
  box-shadow: 0 1px 1px #091e4240, 0 0 1px #091e424f;
  transition: transform 0.3s ease;
  min-height: 36px;
  position: relative;
  scroll-margin: 8px;
  list-style: none;
  color: black;

  .changeCardTitleButton {
    display: none;
    cursor: pointer;

    &:after {
      content: url("/assets/pen_icon.svg");
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  &:hover {
    button {
      display: block
    }
  }

  div {
    padding: 8px 12px 4px;
    min-height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.deleteCardButton {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  display: none;
  &:after {
    content: '\2716';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}
