@import './../../utils/constants';
@import './../../utils/mixins';

.header {
  padding: 1rem;
  text-align: left;
  background: var(--main-bg-color);
  border-bottom: 1px solid $main-blue-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div {
    margin-right: 5rem;
  }
}

.nav {
  position: relative;
  width: 90%;
  white-space: nowrap;
  overflow-x: auto;
}
.verticalLine{
  border-left: 1px solid $main-blue-color;
  height: 20px;
  margin: 0 10px;
}
.nav::-webkit-scrollbar {
  height: 8px;
}

.nav::-webkit-scrollbar-track {
  background: transparent;
}

.nav::-webkit-scrollbar-thumb {
  background: $main-blue-color;
  border-radius: 5px;
}

.nav::-webkit-scrollbar-thumb:hover {
  background: #7183e0;
}

.link {
  display: inline-block;
  margin: 0 11px;
  text-decoration: none;
  font-size: 18px;
  line-height: 44px;
  letter-spacing: 1px;
  transition: color 0.2s;
  text-transform: capitalize;
  color: var(--text-color);

  &:hover {
    color: $main-blue-color;
    filter: brightness(150%);
  }

  &.active {
    color: $main-blue-color;
  }
}
