$main-white-color: #f6f6f6;
$main-black-color: #151515;
$main-gray-color: #4b5360;
$main-blue-color: #6699CC;

$card-blue: #6699CC;
$card-green: #99CC66;
$card-brown:  #996633;
$card-orange:  #FF9966;
$card-red: #FF6666;
$card-purple: #9966CC;
$card-gray: #CCCCCC;
$card-yellow: #FFCC00;
$card-light-blue:  #66CCCC;
