$main-blue-color: #6699cc;

$main-white-color: #f6f6f6;

$main-box-shadow:  0 8px 12px #091e4226, 0 0 1px #091e424f;
$maim-border-radius: 5px;
$card-blue: #1c5a7c;
$card-green: #106354;
$card-brown: #71441b;
$card-orange: #ef6f28;
$card-red: #e73434;
$card-purple: #54117d;
$card-gray: #9f9f9f;
$card-yellow: #f3c820;
$card-light-blue: #4af5f5;
