@import "constants";
@mixin textPreset{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@mixin h4Presets{
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
@mixin hover {
  &:hover {
    filter: brightness(0.9);
  }
}

@mixin main-button {
  box-sizing: border-box;
  border-radius: $maim-border-radius;
  box-shadow:$main-box-shadow;
  font-weight: 200;
  font-size: 16px;
  color: var(--text-color);
  background: var(--card-bg);
  cursor: pointer;
}
@mixin active-button{
  &:active{
    transform: scale(0.95);
    box-shadow: 0 2px 25px var(--card-bg);
}
}