@import '../../../../../../common/styles/constants';
@import '../../../../../../common/styles/mixins';

.container {
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuContainer {
  position: absolute;
  top: 50%;
  left: 105%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 300px;
  background: var(--card-bg);
  border-radius: $main-border-radius;
  box-shadow: $main-box-shadow;
  transform: translateY(-50%);
  opacity: 1;

  h4 {
    color: gray;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.input {
  width: 100%;
}

.submitButton {
  @include main-button;
  @include hover;

  padding: 0.25rem 1rem;
  color: white;
  background: #0c66e4;
}
