@import './../../../../utils/constants';
@import './../../../../utils/mixins';

.dropMenuContainer {
  position: relative;
}

.newBoardContainer {
  position: absolute;
  width: 304px;
  top: 30px;
  right: calc(-1rem - 304px);
  transform: translateY(-10%);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: $main-box-shadow;
  overflow: hidden;
  color: var(--text-color);
  background: var(--card-bg);
}

.header {
  padding: 4px 8px;
  position: relative;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: 32px 1fr 32px;

  h2 {
    position: relative;
    height: 40px;
    margin: 0;
    overflow: hidden;
    padding: 0 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-column: 1 / span 3;
    grid-row: 1;
    line-height: 40px;
  }
}

.closeButton {
  z-index: 1;
  grid-column: 3;
  grid-row: 1;
  color: #626f86;
  border-radius: 8px;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  img {
    width: 22px;
  }
}

.contentContainer {
  min-height: 263px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.boardPreViewer {
  align-self: center;
  padding: 8px;
  width: 220px;
  display: flex;
  justify-content: center;
  border-radius: $main-border-radius;
}

.bgPickerContainer {
  @include h4Presets;
  padding-bottom: 4px;
}

.backgroundPicker {
  display: block;
  padding-top: 8px;
}

.presetColorsList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 8px;
}

.paletteButton {
  @include main-button;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleInputContainer {
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-weight: 500;
  padding-bottom: 8px;

  h4 {
    @include h4Presets;
  }

  span {
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  gap: 1rem;
}

.createButtonDisabled {
  @include main-button;
  border: none;
  box-shadow: none;
  background: $card-gray;
  letter-spacing: 2px;
  color: var(--main-bg-color);
  font-weight: 400;
  padding: 3px 0;
}

.createButton {
  @include main-button;
  border: none;
  box-shadow: none;
  background: #579dff;
  letter-spacing: 2px;
  color: var(--main-bg-color);
  font-weight: 400;
  padding: 3px 0;
  @include hover;
  @include active-button;
}
.moreEffectContainer {
  display: flex;
  background: $card-gray;
}
.colorPikerElement {
  width: 40px;
  height: 32px;
  position: relative;
  border-radius: $main-border-radius;
  @include hover;

  &.moreEffect:after {
    content: '• • •';
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 9px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  button {
    @include main-button;
    width: 100%;
    height: 100%;
    background: #b6c2cf;
    @include hover;
  }
}

.acceptEffect {
  & :after {
    content: url('/assets/check_accept_icon.svg');
    transform: scale(0.33) translate(-50%, -50%);
    position: absolute;
    top: -2px;
    left: 5px;
  }
}
.colorsDropMenu {
  position: absolute;
  right: -480px;
  top: 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 8px;
  box-shadow: $main-box-shadow;
  background: var(--card-bg);
  list-style: none;
  padding: 1rem;
  gap: 8px;

  li {
    position: relative;
    width: 40px;
    height: 32px;
    border-radius: $main-border-radius;
  }
}

.notValid {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
