@import '../../common/styles/mixins';
@import '../../common/styles/constants';

.input {
  @include input-preset;

  cursor: pointer;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
