@import "./../../../../utils/constants";
.boardIcon {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: $main-box-shadow;
  text-decoration: none;
  &:hover {
    filter: brightness(0.9);
  }

  h3 {
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
  }
}
