@import '../../../../../common/styles/constants';
@import '../../../../../common/styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  background: $main-white-color;
  border-radius: 12px;
  box-shadow: $main-box-shadow;

  input {
    @include input-preset;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  padding-top: 8px;

  button {
    align-items: center;
    width: fit-content;
    color: $main-white-color;
    border-radius: 3px;
    cursor: pointer;

    @include hover;
  }

  .submitButton {
    padding: 6px 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    background: $blue-color;
  }

  .closeButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
