@import 'utils/reset.scss';
:root[data-theme='light'] {
  --main-bg-color: #ffffff;
  --card-bg: #f8f8f9;
  --text-color: #292929;
  --card-border: #e7e7e7;
}

:root[data-theme='dark'] {
  --main-bg-color: #1D2125;
  --card-bg: #282d33;
  --text-color: #f6f6f6;
  --card-border: #3e3e3e;
}

body {
  line-height: 1;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
}

input[type='color'] {
  border-radius: 50%; /* Устанавливаем радиус скругления на 50%, чтобы сделать элемент круглым */
  width: 30px; /* Устанавливаем желаемую ширину */
  height: 30px; /* Устанавливаем желаемую высоту */
  padding: 0; /* Убираем отступы */
  border: none; /* Убираем границу */
  cursor: pointer; /* Добавляем курсор при наведении */
  outline: none; /* Убираем обводку при фокусе */
}